body {
    margin: 0;
    padding: 0;
    font-family: Impact,Haettenschweiler,Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bold,Arial Black,sans serif; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('./assets/dreams_test.png') no-repeat center center fixed;
    background-size: cover;
    color: white;
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}